{{extend 'layout.html'}}

{{=form}}

<p><center><font size="3" color="blue">We are SlugHelper.</font></center></p>
<p><center><font size="3" color="green">We want to help our fellow UCSC students.</font></center></p>
<p><center><font size="3" color="blue">By making things simplier for them.</font></center></p>
<p><center><font size="3" color="green">Instead of going through different social media applications..</font></center></p>
<p><center><font size="3" color="blue">Why not come to SlugHelper where everthing is here.</font></center></p>
<p><center><font size="3" color="green">With just one click of a button.</font></center></p>
<p><center><font size="3" color="blue">We know how busy a student life can be.</font></center></p>
<p><center><font size="3" color="green">So we strive to make their lives easier .</font></center></p>
<p><center><font size="3" color="blue">We are SlugHelper.</font></center></p>

<a href="default/slugride">
<img border="0" alt="slugride" src="{{=URL('static','images/slugride.png')}}" width="324" height="120">
</a>

<a href="default/slugsale">
<img border="0" alt="slugsale" src="{{=URL('static','images/slugsale.png')}}" width="324" height="120">
</a>

<a href="default/slugdelivery">
<img border="0" alt="slugdelivery" src="{{=URL('static','images/slugdelivery.png')}}" width="324" height="120">
</a>


