<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->

<html>
	<head>
		<title>SlugTrade</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href={{=URL('http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900')}} >
		<script src={{=URL('http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')}}></script>
		<script src={{=URL('static','css_template/js/skel.min.js')}}></script>
		<script src={{=URL('static','css_template/js/skel-panels.min.js')}}></script>
		<script src={{=URL('static','css_template/js/init.js')}}></script>
        <link rel="stylesheet" href={{=URL('static','css/bootstrap.min.css')}} />

        <link rel="stylesheet" href={{=URL('static','css_template/css/skel-noscript.css')}} />
        <link rel="stylesheet" href={{=URL('static','css_template/css/style.css')}} />
        <link rel="stylesheet" href={{=URL('static','css_template/css/style-desktop.css')}} />
	</head>
	<body class="homepage">

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper">
				<!-- Nav -->
				<nav id="nav">
					<ul>>
						<li class="active"><a href={{=URL('default', 'index.html')}}>Homepage</a></li>
						<li><a href={{=URL('default', 'submit_a_listing.html')}}>Submit A Listing</a></li>
						<li><a href={{=URL('default', 'view_listing.html')}}>View Listings</a></li>
						<li><a href={{=URL('default', 'search.html')}}>Search</a></li>
                        {{if auth.user is None:}}
                        <li><a href="users/login"
                         data-toggle="modal"
                         data-target="#basicModal">Login</a></li>
                        <li><a href="users/register"
                         data-toggle="modal"
                         data-target="#basicModal">Register</a></li>
                        {{else:}}
                        <li><a href={{=URL('default', 'profile', args=[my_username])}}>Profile</a></li>
                        <li><a href={{=URL('default', 'user/logout')}}>Logout</a></li>
                        {{pass}}

					</ul>
				</nav>
			</div>
			<div class="container">

			<!-- Logo -->
				<div id="logo">
					<h1><a href="#">SlugTrade</a></h1>
					<span class="tag">The Official UCSC Marketplace</span>
				</div>
			</div>
		</div>

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<header>
					<h2>Welcome to SlugTrade</h2>
				</header>
				<p>UCSC Students can now buy/sell/trade with each another in one convenient place.</p>
				<hr />
				<div class="row">
					<section class="4u">
						<span class="pennant"><span class="fa fa-pencil-square-o"></span></span>
						<h3>Post</h3>
						<p>Sign in to submit a listing!</p>
					</section>
					<section class="4u">
						<span class="pennant"><span class="fa fa-eye"></span></span>
						<h3>View</h3>
						<p>Looking for something? Hit "VIEW LISTINGS" to see people's posts.</p>
					</section>
					<section class="4u">
						<span class="pennant"><span class="fa fa-search"></span></span>
						<h3>Search</h3>
						<p>Search for other profiles to see their reputation as a buyer/seller.</p>
					</section>

				</div>
			</div>
		</div>

	<!-- Main -->
		<div id="main">
			<div id="content" class="container">

				<div class="row">
					<section class="6u">
						<a href="#" class="image full"><img src={{=URL('static','css_template/images/pic01.jpg')}} alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>
					<section class="6u">
						<a href="#" class="image full"><img src={{=URL('static','css_template/images/pic02.jpg')}} alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>
				</div>

				<div class="row">
					<section class="6u">
						<a href="#" class="image full"><img src={{=URL('static','css_template/images/pic03.jpg')}} alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>
					<section class="6u">
						<a href="#" class="image full"><img src={{=URL('static','css_template/images/pic04.jpg')}} alt=""></a>
						<header>
							<h2>Mauris vulputate dolor</h2>
						</header>
						<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
					</section>
				</div>

			</div>
		</div>

	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section>
					<blockquote>&ldquo;In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat.&rdquo;</blockquote>
				</section>
			</div>
		</div>

	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section>
					<header>
						<h2>Get in touch</h2>
						<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
					</header>
					<ul class="contact">
						<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
						<li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
					</ul>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
				Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
			</div>
		</div>

	</body>
</html>